.example-card {
  margin: 20px;
  max-width: 400px;
  transition: 0.2s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card-title {
  // max-width: 360px;
  line-height: 1.2;
}

.grid {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  mat-card-actions.heart {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    font-size: 1.5rem;
    color: #ddd;

    cursor: pointer;
    i {
      transition: 0.2s;
    }
    &:hover i {
      color: red;
    }
  }
}

mat-card-header {
  position: relative;
  mat-card-actions {
    position: absolute;
    right: 1rem;
    top: -10px;
  }
}
.mainImg {
  cursor: pointer;
}
.follow {
  margin-left: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
  &:hover {
    color: #15aabf;
  }
}

mat-card-content {
  mat-card-title {
    display: -webkit-box;
    max-width: 380px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
  }
  p {
    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
    display: -webkit-box;
    max-width: 380px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &.date {
      color: gray;
      font-size: 14px;
    }
  }
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: flex-end;
  width: 120px;
  button {
    transform: scale(0.7) !important;

    &.delete {
      background: rgb(235, 38, 38);
    }
    &.love {
      &:hover {
        background: rgb(235, 38, 38);
        color: #fff;
      }
    }
  }
}

.share {
  align-self: flex-end !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  button {
    transform: scale(0.7);
  }
}


.noBlogs {
  font-size: 40px;
 position: fixed;
 top: 50%;
 left: 50%;
  transform: translate(-50%,-50%);
}
