<div class="grid">
  <mat-card class="example-card" *ngFor="let blog of getSortData()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{
        blog.author.firstName + " " + blog.author.lastName
      }}</mat-card-title>
      <mat-card-subtitle
        >@{{ blog.author.username }}

        <i
          *ngIf="checkLogging() && !hasBlog(blog) && !isFollow(blog)"
          matTooltip="follow {{ blog.author.username }}"
          matTooltipPosition="right"
          class="fas fa-user-plus follow"
          (click)="follow(blog.author._id.toString())"
        ></i>
      </mat-card-subtitle>
      <mat-card-actions>
        <div class="example-button-container">
          <button
            *ngIf="checkLogging() && !hasBlog(blog)"
            mat-fab
            color="primary"
            class="share"
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon>share</mat-icon>
          </button>
          <button
            *ngIf="checkLogging() && !hasBlog(blog)"
            mat-fab
            color="basic"
            class="love"
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-fab
            color="primary"
            *ngIf="hasBlog(blog)"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-fab
            color="primary"
            class="delete"
            *ngIf="hasBlog(blog)"
            (click)="deleteBlog(blog._id)"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card-header>
    <img
      class="mainImg"
      routerLink="/blog/{{ blog.id }}"
      mat-card-image
      src="http://localhost:3000/{{ blog.image }}"
      alt=""
    />
    <mat-card-content>
      <mat-card-title routerLink="/blog/{{ blog.id }}">{{
        blog.title
      }}</mat-card-title>

      <p>
        {{ blog.body }}
      </p>
      <p class="date">{{ blog.createdAt | date: "d/M/yy, h:mm a" }}</p>
    </mat-card-content>
    <!-- <mat-card-actions class="heart" *ngIf="checkLogging()">
      <i matTooltip="Like this blog" class="fas fa-heart"></i>
    </mat-card-actions> -->
  </mat-card>
</div>