.example-card {
  margin: 20px;
  max-width: 400px;
  transition: 0.2s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: darken($color: #eee, $amount: .1);
  }
}

.example-header-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

mat-card-subtitle {
  cursor: pointer;
}

mat-card-title {
  // max-width: 360px;
  line-height: 1.2;
  cursor: pointer;
}

.grid {
  position: relative;
  margin: 0 auto;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  mat-card-actions.heart {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    font-size: 1.5rem;
    color: #ddd;

    cursor: pointer;
    i {
      transition: 0.2s;
    }
    &:hover i {
      color: red;
    }
  }
}

mat-card-header {
  position: relative;
  mat-card-actions {
    position: absolute;
    right: 1rem;
    top: -10px;
  }
}
.mainImg {
  cursor: pointer;
  // height: 300px;
  object-fit: cover;
}
.follow {
  margin-left: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
  &:hover {
    color: #15aabf;
  }
}

mat-card-content {
  mat-card-title {
    display: -webkit-box;
    max-width: 380px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
  }
  p {
    
    display: -webkit-box;
    max-width: 380px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &.date {
      color: gray;
      font-size: 14px;
    }
  }
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: flex-end;
  width: 120px;
  button {
    transform: scale(0.7) !important;

    &.delete {
      background: rgb(235, 38, 38);
    }
    &.love {
      &.liked {
        background: rgb(235, 38, 38);
        color: #fff;
      }
      &:hover {
        background: rgb(235, 38, 38);
        color: #fff;
      }
    }
  }
}

.share {
  align-self: flex-end !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  button {
    transform: scale(0.7);
  }
}

.noBlogs {
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.example-form {
  margin: 20px;
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hide{
  animation: hide .2s;
}

@keyframes hide {
  0%{
    visibility: hidden;
  }

  99%{
    visibility: hidden;
  }

  100%{
    visibility: visible;
  }
  
}
.example-full-width {
  width: 100%;
}