<mat-spinner *ngIf="loading" class="loading"></mat-spinner>
<form class="example-form" *ngIf="!loading">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    
    <input type="text" matInput #searchInput placeholder="Title, Author, Tag">
    <mat-icon matSuffix (click)="search(searchInput.value)">search</mat-icon>
  </mat-form-field>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip *ngFor="let tag of tags" #{{tag}} (click)="getBlogsByTag(tag)"  >#{{tag}}</mat-chip>
  </mat-chip-list>
</form>
<div class="grid hide" *ngIf="!loading"  >
  <div *ngIf="blogs.length == 0" class="noBlogs">
    there is no blogs right now
  </div>
  <mat-card class="example-card" *ngFor="let blog of getSortData()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" routerLink="/profile/{{blog.author.username}}" routerLinkActive="router-link-active" >
        <img src="http://localhost:3000/{{ blog.author.image }}" alt="" />
      </div>
      <mat-card-title routerLink="/profile/{{blog.author.username}}">{{
        blog.author.firstName + " " + blog.author.lastName
      }}</mat-card-title>
      <mat-card-subtitle routerLink="/profile/{{blog.author.username}}"
        >@{{ blog.author.username }}

        <i
          *ngIf="checkLogging() && !hasBlog(blog) && !isFollow(blog)"
          matTooltip="follow {{ blog.author.username }}"
          matTooltipPosition="right"
          class="fas fa-user-plus follow"
          (click)="follow(blog.author._id.toString())"
        ></i>
      </mat-card-subtitle>
      <mat-card-actions>
        <div class="example-button-container">
          <button
            *ngIf="checkLogging() && !hasBlog(blog)"
            mat-fab
            color="primary"
            class="share"
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon>share</mat-icon>
          </button>
          <button
            *ngIf="checkLogging() && !hasBlog(blog)"
            (click)="likeBlog(blog.id)"
            mat-fab
            color="basic"
            class="love"
            [class.liked]="isLike(blog.id)"
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-fab
            color="primary"
            *ngIf="hasBlog(blog)"
            aria-label="Example icon button with a delete icon"
            routerLink="/edit/{{ blog.id }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-fab
            color="primary"
            class="delete"
            *ngIf="hasBlog(blog)"
            (click)="deleteBlog(blog._id)"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card-header>
    <img
      class="mainImg"
      routerLink="/blog/{{ blog.id }}"
      mat-card-image
      src="http://localhost:3000/{{ blog.image }}"
      alt=""
    />
    <mat-card-content>
      <mat-card-title routerLink="/blog/{{ blog.id }}">{{
        blog.title
      }}</mat-card-title>

      <p>
        {{ blog.body }}
      </p>
      <p class="date">{{ blog.createdAt | date: "d/M/yy, h:mm a" }}</p>
    </mat-card-content>
    <!-- <mat-card-actions class="heart" *ngIf="checkLogging()">
      <i matTooltip="Like this blog" class="fas fa-heart"></i>
    </mat-card-actions> -->
  </mat-card>
</div>
<mat-paginator
  *ngIf="!loading"
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="getData($event)"
  aria-label="Select page"
>
  
</mat-paginator>
