.example-radio-button {
  margin-left: 7px;
}
mat-grid-tile {
  // background: #fafafa;
}
.width-50 {
  width: 49%;
}
.ml-1 {
  margin-left: 1%;
}
.ml-2 {
  margin-left: 2%;
}
.width-100 {
  width: 100%;
}
.width-25 {
  width: 25%;
}

.register {
  margin-right: 10px;
}

.display {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 100;
}
.imageBtn {
  margin-bottom: 10px;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  position: relative;
  height: 8rem;
  margin: .6rem 0;
  width: 8rem;
  overflow: hidden;
  // border-radius: 50%;
}

.image-preview img {
  position: absolute;
  height: 100%;
  // width: 100%;
  // border-radius: 50%;
}



::ng-deep snack-bar-container.successCustomSnackBar {
  background: rgb(56, 173, 33);
}

::ng-deep .successCustomSnackBar .mat-simple-snackbar {
  color: #fff;
}

::ng-deep .successCustomSnackBar .mat-simple-snackbar-action{
  color: #fff;
}


::ng-deep snack-bar-container.failCustomSnackBar {
  background: rgb(190, 34, 29);
}

::ng-deep .failCustomSnackBar .mat-simple-snackbar {
  color: #fff;
}

::ng-deep .failCustomSnackBar .mat-simple-snackbar-action{
  color: #fff;
}